:root {
	font-family: 'source-sans-pro', Helvetica, Arial, sans-serif;
	font-weight: 400;

	color-scheme: light dark;
	/* color: #231f20; */
	background-color: #ffffff;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* TARGETING THE WHOLE PAGE WITH THIS PROPERTIES AND VALUES */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

.registration {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 3rem;
}

.register-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 2rem;
}

.register-header h1 {
	font-size: 3.4rem;
	font-weight: 800;
	color: #000000;
}

.register-header p {
	/* font-size: 3.4rem; */
	font-weight: 500;
	color: #000000;
}

.forms-container {
	width: 746px;
}

/* For alert when form is submitted */
.alert {
	width: 100%;
	color: #000000;
	background-color: rgb(4, 193, 92);
	text-align: center;
	padding: 15px 20px;
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 1rem;
	border-radius: 5px;
	display: none;
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
}

.alert.active {
	opacity: 1;
}

.user-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	width: 100%;
}

.user-info input {
	width: 373px;
	height: 70px;
	background: #ffffff;
	color: #000000;
}

.user-info #firstname {
	margin-right: 2rem;
}

.email-section input,
.allergy-section textarea {
	width: 100%;
	height: 70px;
	margin-bottom: 2rem;
	background: #ffffff;
	color: #000000;
}

.emergency-2,
.emergency-1 {
	display: flex;
}

#emergency-firstname,
#emergency-number {
	margin-right: 1.5rem;
}

.emergency input {
	width: 373px;
	height: 70px;
	margin-bottom: 2rem;
	background: #ffffff;
	color: #000000;
	border: 0.5px solid #000000;
}

.user-info input::placeholder,
.email-section input::placeholder,
.emergency input::placeholder {
	padding-left: 0;
}

textarea::placeholder {
	color: #777676;
	font-size: 1rem;
	padding-left: 10px;
}

.user-info input[type='text'],
.email-section input[type='email'],
.emergency input[type='text'],
.input-group textarea,
.emergency input[type='tel'] {
	color: #000000;
	padding-left: 2rem;
}

.user-info input[type='text']:focus,
.email-section input[type='email']:focus,
.emergency input[type='text']:focus,
.input-group textarea:focus,
.emergency input[type='tel']:focus {
	color: #000000;
	padding-left: 1rem;
}

.preferences {
	margin-bottom: 2rem;
}

.preferences h3 {
	font-size: 1.7rem;
	font-weight: 800;
}

.preferences h5 {
	font-size: 1rem;
	font-weight: 300;
}

.radio-main {
	display: flex;
	gap: 19rem;
	margin-bottom: 2rem;
}

.radio1,
.radio2,
.checkbox-3 {
	display: flex;
	gap: 1rem;
}

.radio2 input,
.radio1 input {
	height: 30px;
	width: 30px;
}

.checkbox-3 input {
	height: 20px;
	width: 20px;
}

input[type='radio'] {
	cursor: pointer;
}
input[type='checkbox'] {
	cursor: pointer;
}

.checkbox-3 {
	margin-bottom: 2rem;
}

.submit-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 12vh;
	margin-bottom: 1rem;
}

.submit-btn button {
	padding: 20px 60px;
	cursor: pointer;
	border: 1px solid #000000;
	background-color: #ffffff;
	color: #000000;
	font-size: 1.5rem;
	font-weight: 600;
}

.submit-btn button:hover {
	background-color: #b3643c;
	color: #ffffff;
	font-weight: 900;
	border: none;
}

/* BEGINNING OF MEDIA QUERIES */
/* MEDIA QUERY TARGETING SCREEN WIDTH BETWEEN 990PX */

@media (max-width: 990px) {
	.register-header h1 {
		font-size: 3rem;
	}

	.submit-btn {
		height: 14vh;
	}
}

/* MEDIA QUERY TARGETING SCREEN WIDTH BETWEEN 850PX */

@media (max-width: 850px) {
	.register-header h1 {
		font-size: 2.8rem;
	}

	.submit-btn {
		height: 14vh;
	}
}

/* MEDIA QUERY TARGETING SCREEN WIDTH BETWEEN 780PX */

@media (max-width: 780px) {
	.register-header h1 {
		font-size: 2.5rem;
	}

	.forms-container {
		width: 80%;
	}

	.user-info input::placeholder,
	.email-section input::placeholder,
	.emergency input::placeholder {
		font-size: 0.7rem;
	}

	.submit-btn {
		height: 14vh;
	}
}

/* MEDIA QUERY TARGETING SCREEN WIDTH BETWEEN 694PX */

@media (max-width: 694px) {
	.register-header h1 {
		font-size: 2.3rem;
	}

	.forms-container {
		width: 80%;
	}

	.user-info input::placeholder,
	.email-section input::placeholder,
	.emergency input::placeholder {
		font-size: 0.8rem;
	}

	.preferences h3 {
		font-size: 1.5rem;
	}

	.submit-btn {
		height: 14vh;
	}

	.submit-btn button {
		padding: 17px 50px;
		cursor: pointer;
		border: 1px solid #000000;
		background-color: #ffffff;
		color: #000000;
		font-size: 1.3rem;
		font-weight: 600;
	}
}

/* MEDIA QUERY TARGETING SCREEN WIDTH BETWEEN 618PX */

@media (max-width: 618px) {
	.register-header h1 {
		font-size: 2.1rem;
	}

	.forms-container {
		width: 80%;
	}

	.register-header p {
		font-size: 0.8rem;
		font-weight: 700;
	}

	.user-info input::placeholder,
	.email-section input::placeholder,
	.emergency input::placeholder {
		font-size: 0.8rem;
	}

	.emergency-2 {
		font-size: 0.8rem;
		margin-right: 0;
	}

	.preferences h3 {
		font-size: 1.3rem;
	}

	.submit-btn {
		height: 14vh;
	}

	.submit-btn button {
		padding: 17px 50px;
		cursor: pointer;
		border: 1px solid #000000;
		background-color: #ffffff;
		color: #000000;
		font-size: 1.3rem;
		font-weight: 600;
	}
}

/* MEDIA QUERY TARGETING SCREEN WIDTH BETWEEN 558PX */

@media (max-width: 558px) {
	.registration {
		margin: 0 auto;
		width: 90%;
		margin-left: 0;
		margin-top: 2rem;
	}

	.register-header h1 {
		font-size: 2.1rem;
	}

	.forms-container {
		margin: 0 auto;
		width: 90%;
		margin-left: 2.5rem;
	}

	.register-header p {
		font-size: 0.73rem;
		font-weight: 700;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	.user-info input::placeholder,
	.email-section input::placeholder,
	.emergency input::placeholder {
		font-size: 0.8rem;
		font-weight: 600;
	}

	.user-info #firstname {
		margin-right: 1.4rem;
	}

	textarea::placeholder {
		font-size: 0.6rem;
		padding-left: 6px;
		font-weight: 600;
	}

	.user-info input[type='text'],
	.email-section input[type='email'],
	.emergency input[type='text'],
	.input-group textarea,
	.emergency input[type='tel'] {
		border: 2px solid #000000;
	}

	.preferences h3 {
		font-size: 1.3rem;
	}

	.radio-main {
		gap: 10rem;
	}

	.submit-btn {
		height: 14vh;
	}

	.submit-btn button {
		padding: 17px 50px;
		cursor: pointer;
		border: 1px solid #000000;
		background-color: #ffffff;
		color: #000000;
		font-size: 1.3rem;
		font-weight: 600;
	}
}

/* MEDIA QUERY TARGETING SCREEN WIDTH BETWEEN 538PX */

@media (max-width: 528px) {
	.registration {
		margin: 0 auto;
		width: 90%;
		margin-left: 0;
		margin-top: 2rem;
	}

	.register-header {
		margin: 0 auto;
		width: 90%;
		margin-right: 0;
		margin-bottom: 2rem;
	}

	.register-header h1 {
		font-size: 2.1rem;
	}

	.forms-container {
		margin: 0 auto;
		width: 90%;
		margin-left: 3rem;
	}

	.register-header p {
		font-size: 0.73rem;
		font-weight: 600;
		text-align: center;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.user-info #firstname {
		margin-right: 1rem;
	}

	.user-info input::placeholder,
	.email-section input::placeholder,
	.emergency input::placeholder {
		font-size: 0.5rem;
		font-weight: 600;
	}

	.user-info input {
		width: 100%;
		height: 60px;
		background: #ffffff;
		color: #000000;
	}

	textarea::placeholder {
		font-size: 0.6rem;
		padding-left: 6px;
		font-weight: 600;
	}

	.user-info input[type='text'],
	.email-section input[type='email'],
	.emergency input[type='text'],
	.input-group textarea,
	.emergency input[type='tel'] {
		border: 2px solid #000000;
	}

	.email-section input,
	.allergy-section textarea,
	.emergency input {
		width: 100%;
		height: 60px;
		margin-bottom: 2rem;
		background: #ffffff;
		color: #000000;
	}

	.radio-main {
		gap: 8rem;
	}

	.preferences h5 {
		font-size: 1rem;
		font-weight: 300;
	}
}

/* MEDIA QUERY TARGETING SCREEN WIDTH BETWEEN 465PX */

@media (max-width: 465px) {
	.registration {
		margin: 0 auto;
		width: 90% !important;
		margin-left: 0;
		margin-top: 2rem;
	}

	.register-header {
		margin: 0 auto;
		width: 90%;
		margin-right: 0;
		margin-bottom: 2rem;
	}

	.register-header h1 {
		font-size: 2.1rem;
	}

	.forms-container {
		margin: 0 auto;
		width: 90%;
		margin-left: 3rem;
	}

	.register-header p {
		font-size: 0.73rem;
		font-weight: 600;
		text-align: center;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.user-info #firstname {
		margin-right: 1rem;
	}

	.user-info input::placeholder,
	.email-section input::placeholder,
	.emergency input::placeholder {
		font-size: 0.5rem;
		font-weight: 600;
	}

	.user-info input {
		width: 100%;
		height: 60px;
		background: #ffffff;
		color: #000000;
	}

	textarea::placeholder {
		font-size: 0.6rem;
		padding-left: 6px;
		font-weight: 600;
	}

	.user-info input[type='text'],
	.email-section input[type='email'],
	.emergency input[type='text'],
	.input-group textarea,
	.emergency input[type='tel'] {
		border: 2px solid #000000;
	}

	.email-section input,
	.allergy-section textarea,
	.emergency input {
		width: 100%;
		height: 60px;
		margin-bottom: 2rem;
		background: #ffffff;
		color: #000000;
	}

	.radio-main {
		gap: 8rem;
	}

	.preferences h5 {
		font-size: 1rem;
		font-weight: 300;
	}
}

/* MEDIA QUERY TARGETING SCREEN WIDTH BETWEEN 392PX */

@media (max-width: 392px) {
	.registration {
		margin: 0 auto;
		width: 90% !important;
		margin-left: 0;
		margin-top: 2rem;
	}

	.register-header {
		margin: 0 auto;
		width: 90%;
		margin-right: 0;
		margin-bottom: 2rem;
	}

	.register-header h1 {
		font-size: 2.1rem;
	}

	.forms-container {
		margin: 0 auto;
		width: 90%;
		margin-left: 2.2rem;
	}

	.register-header p {
		font-size: 0.73rem;
		font-weight: 600;
		text-align: center;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.user-info #firstname {
		margin-right: 1rem;
	}

	.user-info input::placeholder,
	.email-section input::placeholder,
	.emergency input::placeholder {
		font-size: 0.5rem;
		font-weight: 600;
	}

	.user-info input {
		width: 100%;
		height: 60px;
		background: #ffffff;
		color: #000000;
	}

	textarea::placeholder {
		font-size: 0.6rem;
		padding-left: 6px;
		font-weight: 600;
	}

	.user-info input[type='text'],
	.email-section input[type='email'],
	.emergency input[type='text'],
	.input-group textarea,
	.emergency input[type='tel'] {
		border: 2px solid #000000;
	}

	.email-section input,
	.allergy-section textarea,
	.emergency input {
		width: 100%;
		height: 60px;
		margin-bottom: 2rem;
		background: #ffffff;
		color: #000000;
	}

	.radio-main {
		gap: 8rem;
	}

	.preferences h5 {
		font-size: 1rem;
		font-weight: 300;
	}
}
